.container{
  display: flex;
  min-height: 100vh;
  background-color: #E9F1F4;

  .main{
    width: 100%;
    max-width: 1380px;
    padding: 30px 40px 30px 110px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &__title{
        font-size: 30px;
        font-weight: 500;
        line-height: 45px;
      }

      &__user{
        display: flex;
        gap: 15px;
        align-items: center;

        img{
          height: 20px;
        }

        p{
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
        }
      }
    }

    .cards{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
    }
  }
}
