<dialog class="container">
  <div class="modal">
    <h3 class="modal__title">Crear nueva planta</h3>
    <form
      class="form"
      [formGroup]="createFormgroup"
      (ngSubmit)="handleCreate()">
      <label class="form__label">Nombre planta</label>
      <input
        class="form__input"
        type="text"
        placeholder="Ingrese nombre"
        formControlName="plant" />
      <label class="form__label">País</label>
      <div class="rel">
        <select class="form__input" id="" formControlName="country">
          <option value="value1" selected disabled hidden>
            Seleccione país
          </option>
          @for (c of countryName; track $index; let i = $index) {
            <option [value]="i">{{ c }}</option>
          }
        </select>
        <img class="arrow" src="/assets/icons/selectIcon.svg" alt="" />
      </div>
      <div class="form__buttons">
        <app-button
          children="Cancelar"
          size="small"
          color="secondary"
          type="button"
          [action]="closeModal" />
        <app-button
          children="Crear"
          size="small"
          color="primary"
          [isLoading]="isLoading" />
      </div>
    </form>
  </div>
</dialog>
