.btn{
  font-family: Poppins;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-large{
  border-radius: 12px;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  width: 120px;
  height: 40px;

  @media (min-width: 1024px) {
  font-size: 14px;
  line-height: 21px;
  width: 164px;
  height: 48px;
  }
}

.btn-small{
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-weight: 500;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  @media (min-width: 640px) {
    width: 100px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
}

.btn-primary{
  background-color: #33A3AA;
  color: #FFFFFF;
  border: none;
}

.btn-secondary{
  background-color: #FFFFFF;
  color: #33A3AA;
  border: 1px solid #33A3AA;
}

.btn-disabled{
  background-color: #33A3AA90;
  cursor: auto;
}

.loader {
  width: 20px;
  height: 20px;
  border: 4px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
