<div class="container">
  <h3 class="title">Iniciar sesión</h3>
  <p class="description">
    Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades.
    Inicia sesión y continúa aprovechando al máximo nuestra plataforma.
  </p>
  <div class="tip">
    <img src="/assets/icons/loginIcon1.svg" alt="" />
    <div class="data">
      <h5 class="data__title">Monitoreo integral</h5>
      <p class="data__info">
        Administra, monitorea mutiples plantas de forma centralizada
      </p>
    </div>
  </div>
  <div class="tip">
    <img src="/assets/icons/loginIcon2.svg" alt="" />
    <div class="data">
      <h5 class="data__title">Notificaciones en tiempo real</h5>
      <p class="data__info">
        Recibi notificaciones en tiempo real sobre las mediciones
      </p>
    </div>
  </div>
</div>
