.container{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #00000030;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;

  .modal{
    width: 90%;
    border-radius: 15px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 640px) {
    width: 380px;
    }

    &__title{
      font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    }

    &__buttons{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 10px;
    }
  }
}

