.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #202020;


  @media (min-width: 1024px) {
  width: 400px;
  margin: 0 auto;
  }

  .subtitle{
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;

    @media (min-width: 1024px) {
    font-size: 25px;
    line-height: 48px;
    }
  }

  .form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .input{
      position: relative;

      &__label{
        position: absolute;
        font-weight: 400;
        font-size: 10px;
        line-height: 13px;
        left: 15px;
        transform: translateY(-50%);
        color: #84818A;
        background-color: #FBFCFC;
        padding: 0 8px;

        @media (min-width: 1024px) {
          font-size: 12px;
          line-height: 17px;

        }
      }

      &__input{
        width: 100%;
        height: 40px;
        border: 1px solid #DCDBDD;
        border-radius: 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        padding: 0 15px;

        @media (min-width: 1024px) {
          height: 48px;
          width: 400px;
          font-size: 14px;
          line-height: 21px;
        }
      }

      &__eye{
        position: absolute;
        right: 20px;
        transform: translateY(50%);
        bottom: 50%;
        cursor: pointer;
      }
    }

    .flex{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .text{
      color: #47464A;
      cursor: pointer;
      text-decoration: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;

      @media (min-width: 1024px) {
        font-size: 14px;
        line-height: 21px;
      }

      span{
        color: #33A3AA;
      }
    }
  }
}

.error{
  border-color: #ff6961 !important;
  color: #ff6961 !important;
}

.message{
  color: #ff6961;
  font-weight: 500;
  font-size: 7px;
    line-height: 7px;
    position: absolute;
    width: max-content;
    bottom: -4px;
    background-color: #FBFCFC;
    right: 15px;
    padding: 0 5px;

    @media (min-width: 1024px) {
      font-size: 10px;
        line-height: 10px;

    }
}

*:focus {
  outline: none;
}
