<div class="container">
  <p class="subtitle">Registro</p>
  <form
    action=""
    class="form"
    [formGroup]="formgroup"
    (ngSubmit)="handleRegister()">
    <div class="input">
      <label for="mail" class="input__label">Email </label>
      <input
        id="mail"
        class="input__input"
        type="email"
        name="mail"
        placeholder="Luciano@email.com"
        formControlName="email" />
    </div>
    <div class="input">
      <label for="password" class="input__label">Contaseña </label>
      <img src="/assets/icons/eyeIcon.svg" alt="" class="input__eye" />
      <input
        id="password"
        class="input__input"
        type="password"
        name="password"
        placeholder="Contraseña"
        formControlName="password" />
    </div>
    <div class="flex">
      <a routerLink="/login" class="text">¿Ya tienes cuenta? <br><span> Iniciar sesión</span> </a>

      <app-button
        children="Registrar cuenta"
        size="large"
        color="primary"
        [isLoading]="isLoading" />
    </div>
  </form>
</div>
