<div class="container">
  <div class="flex">
    <h4 class="title">Plantas</h4>
    <button class="button" (click)="handleModal()">+ Crear nueva planta</button>
  </div>
  <hr />
  <table class="table">
    <thead class="table__head">
      <tr>
        <th>País</th>
        <th>Nombre de la planta</th>
        <th>Lecturas</th>
        <th>Alertas medias</th>
        <th>Alertas rojas</th>
        <th class="actions">Acciones</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr>
        <td>Argentina</td>
        <td>Quilmes</td>
        <td>300</td>
        <td>10</td>
        <td>2</td>
        <td class="actions">
          <img src="/assets/icons/actionIcon.svg" alt="" />
        </td>
      </tr>
      <tr>
        <td>Argentina</td>
        <td>Quilmes</td>
        <td>300</td>
        <td>10</td>
        <td>2</td>
        <td class="actions">
          <img src="/assets/icons/actionIcon.svg" alt="" />
        </td>
      </tr>
      <tr>
        <td>Argentina</td>
        <td>Quilmes</td>
        <td>300</td>
        <td>10</td>
        <td>2</td>
        <td class="actions">
          <img src="/assets/icons/actionIcon.svg" alt="" />
        </td>
      </tr>
      <tr>
        <td>Argentina</td>
        <td>Quilmes</td>
        <td>300</td>
        <td>10</td>
        <td>2</td>
        <td class="actions">
          <img src="/assets/icons/actionIcon.svg" alt="" />
        </td>
      </tr>
      <tr>
        <td>Argentina</td>
        <td>Quilmes</td>
        <td>300</td>
        <td>10</td>
        <td>2</td>
        <td class="actions">
          <img src="/assets/icons/actionIcon.svg" alt="" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
@if (openModal()) {
  <app-modal [handleModal]="openModal" />
}
