<div class="container">
  <p class="title">Portal de monitoreo</p>
  <p class="subtitle">Iniciar sesión</p>
  <form
    action=""
    class="form"
    [formGroup]="formgroup"
    (ngSubmit)="handleLogin()">
    <div class="input">
      <label
        for="mail"
        class="input__label"
        [ngClass]="{
          error:
            formgroup.controls.email.invalid &&
            formgroup.controls.email.touched,
        }"
        >Email
      </label>
      <input
        id="mail"
        class="input__input"
        [ngClass]="{
          error:
            formgroup.controls.email.invalid &&
            formgroup.controls.email.touched,
        }"
        type="email"
        name="mail"
        placeholder="Luciano@email.com"
        formControlName="email" />
      @if (
        formgroup.controls.email.hasError('email') &&
        formgroup.controls.email.touched
      ) {
        <span class="message">Formato de email incorrecto</span>
      }
    </div>
    <div class="input">
      <label
        for="password"
        class="input__label"
        [ngClass]="{
          error:
            formgroup.controls.password.invalid &&
            formgroup.controls.password.touched,
        }"
        >Contaseña
      </label>
      <img
        src="/assets/icons/eyeIcon.svg"
        alt=""
        class="input__eye"
        (click)="changeType()" />
      <input
        id="password"
        class="input__input"
        [ngClass]="{
          error:
            formgroup.controls.password.invalid &&
            formgroup.controls.password.touched,
        }"
        [type]="inputType"
        name="password"
        placeholder="Contraseña"
        formControlName="password" />
      @if (
        formgroup.controls.password.hasError('pattern') &&
        formgroup.controls.password.touched
      ) {
        <span class="message"
          >Al menos 8 caracteres con letra, número y caracter especial</span
        >
      }
    </div>
    <div class="flex">
      <a routerLink="/register" class="text"
        >¿No tienes cuenta? <br /><span> Registrarse</span>
      </a>

      <app-button
        children="Iniciar sesión"
        size="large"
        color="primary"
        [disabled]="formgroup.invalid"
        [isLoading]="isLoading" />
    </div>
  </form>
  <p class="footer">
    Protegido por reCAPTCHA y sujeto a la <span>Política de Privacidad</span> y
    <span>Condiciones.</span>
  </p>
</div>
