<div class="container">
  <p class="title">Portal de monitoreo</p>
  <p class="subtitle">Iniciar sesión</p>
  <form action="" class="form">
    <div class="input">
      <label for="mail" class="input__label">Email </label>
      <input
        id="mail"
        class="input__input"
        type="email"
        name="mail"
        placeholder="Luciano@email.com" />
    </div>
    <div class="input">
      <label for="password" class="input__label">Contaseña </label>
      <img src="/assets/icons/eyeIcon.svg" alt="" class="input__eye" />
      <input
        id="password"
        class="input__input"
        type="password"
        name="password"
        placeholder="Contraseña" />
    </div>
    <div class="flex">
      <p class="text">¿Olvidaste tu contraseña?</p>
      <button class="button">Iniciar sesión</button>
    </div>
  </form>
  <p class="footer">
    Protegido por reCAPTCHA y sujeto a la <span>Política de Privacidad</span> y
    <span>Condiciones.</span>
  </p>
</div>
